IoT_Hands_On/Node-Red-flows/pod-flow.flow
[{"id":"84eb8e18.9d088","type":"tab","label":"\"Local Controller\" flow","disabled":false,"info":"Use this flow where each grouping of sensors\nwill communicate only to its \"local\" controller\n\nThis implies a \"multiple master\" architecture of\nMQTT and NodeRed devices.\n\nThis does NOT allow consolidated reporting of all\ndevices unless a flow is added to pull the data\nfrom the consolidated database"},{"id":"2e5b803e.0ac03","type":"mqtt in","z":"84eb8e18.9d088","name":"All Sensors","topic":"#","qos":"2","broker":"5e671109.d4c","x":102.85714721679688,"y":65.71428680419922,"wires":[["8c9ae29e.bbcde"]]},{"id":"b833f80b.70a328","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1793.4286499023438,"y":469.7619376182556,"wires":[]},{"id":"fb622c26.4ea2e","type":"ui_text","z":"84eb8e18.9d088","group":"cd9443d1.3ebba","order":0,"width":"6","height":"2","name":"S1 Text","label":"S1 Last Delta (in Seconds)","format":"{{msg.payload.delta_time}}","layout":"col-center","x":1802.0000457763672,"y":432.19049882888794,"wires":[]},{"id":"91cc1767.e9f908","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1796.380973815918,"y":641.6667256355286,"wires":[]},{"id":"ed43a71d.7a08f8","type":"ui_text","z":"84eb8e18.9d088","group":"8d737727.f65aa8","order":0,"width":"6","height":"2","name":"S2 Text","label":"S2 Last Delta (in Seconds)","format":"{{msg.payload.delta_time}}","layout":"col-center","x":1806.380973815918,"y":601.6667256355286,"wires":[]},{"id":"ce0b79a2.b37ed8","type":"switch","z":"84eb8e18.9d088","name":"Route to Outputs","property":"payload.Sensor","propertyType":"msg","rules":[{"t":"cont","v":"S1","vt":"str"},{"t":"cont","v":"S2","vt":"str"},{"t":"cont","v":"S3","vt":"str"},{"t":"cont","v":"S4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":611.4285583496094,"y":620.0476951599121,"wires":[["39fb12f6.9dfa1e"],["39fb12f6.9dfa1e"],["54197aac.2483a4"],["54197aac.2483a4"]]},{"id":"53eee729.d87f98","type":"moment","z":"84eb8e18.9d088","name":"Create Timestamp","topic":"stamped","input":"","inputType":"date","inTz":"America/Denver","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY hh:mm:ss","locale":"en_US","output":"timestamp","outputType":"msg","outTz":"America/Denver","x":547.5238342285156,"y":66.04760551452637,"wires":[["4e7ffe7e.f8481"]]},{"id":"816971d6.ddd8a","type":"Message Counter","z":"84eb8e18.9d088","name":"Message counter","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":1596.4286499023438,"y":400.7619376182556,"wires":[["c1b330df.ee447"],["fb622c26.4ea2e","b833f80b.70a328"]]},{"id":"c1b330df.ee447","type":"ui_gauge","z":"84eb8e18.9d088","name":"S1 Events in Past 1 Minute","group":"cd9443d1.3ebba","order":0,"width":0,"height":0,"gtype":"gage","title":"S1 Events in the past minute","label":"Events","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1863.4286499023438,"y":393.7619376182556,"wires":[]},{"id":"3ce83e08.6304e2","type":"Message Counter","z":"84eb8e18.9d088","name":"Message counter","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":1598.3094787597656,"y":569.6667122840881,"wires":[["b26012a4.42a5f"],["ed43a71d.7a08f8","91cc1767.e9f908"]]},{"id":"b26012a4.42a5f","type":"ui_gauge","z":"84eb8e18.9d088","name":"S2 Events in Past 1 Minute","group":"8d737727.f65aa8","order":0,"width":0,"height":0,"gtype":"gage","title":"S2 Events in the past minute","label":"Events","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1866.880973815918,"y":562.6667256355286,"wires":[]},{"id":"9fd29ee2.d7992","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1151.5476837158203,"y":189.71427726745605,"wires":[]},{"id":"8e058d3a.87bbd","type":"ui_text","z":"84eb8e18.9d088","group":"2bf81cd1.465004","order":0,"width":"0","height":"0","name":"Meta Event","label":"Last Meta Event","format":"{{msg.payload}}","layout":"col-center","x":1150.5476837158203,"y":148.71427726745605,"wires":[]},{"id":"b89d0079.0ec29","type":"Message Counter","z":"84eb8e18.9d088","name":"Meta Message counter","units":"minutes","interval":"5","alignToClock":true,"generator":"internal","x":893.5476837158203,"y":113.71427726745605,"wires":[["f998eaa1.9b4a68"],["8e058d3a.87bbd","9fd29ee2.d7992"]]},{"id":"f998eaa1.9b4a68","type":"ui_gauge","z":"84eb8e18.9d088","name":"Meta Events - 5 minute interval","group":"2bf81cd1.465004","order":0,"width":"0","height":"0","gtype":"gage","title":"Meta events - 5 minute interval","label":"Events","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1209.5476837158203,"y":107.71427726745605,"wires":[]},{"id":"8c9ae29e.bbcde","type":"json","z":"84eb8e18.9d088","name":"Convert to JSON format","property":"payload","action":"","pretty":true,"x":313.8809585571289,"y":65.76191329956055,"wires":[["53eee729.d87f98"]]},{"id":"4e7ffe7e.f8481","type":"switch","z":"84eb8e18.9d088","name":"Check for control message","property":"payload.MQTT","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370.071533203125,"y":263.6190528869629,"wires":[["b89d0079.0ec29","5146e4ed.afc7ec"],["ce0b79a2.b37ed8","59be33d5.2ce64c"]]},{"id":"3ce4720.f017b8e","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1791.9045181274414,"y":781.6666750907898,"wires":[]},{"id":"d9dce5b3.c97198","type":"ui_text","z":"84eb8e18.9d088","group":"a6c22496.14c9b8","order":0,"width":"6","height":"2","name":"S3 Text","label":"S3 Last Delta (in Seconds)","format":"{{msg.payload.delta_time}}","layout":"col-center","x":1801.9045181274414,"y":741.6666750907898,"wires":[]},{"id":"b9e297b6.4d6978","type":"Message Counter","z":"84eb8e18.9d088","name":"Message counter","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":1593.833106994629,"y":726.3332800865173,"wires":[["ea3af7ca.03d078"],["d9dce5b3.c97198","3ce4720.f017b8e"]]},{"id":"ea3af7ca.03d078","type":"ui_gauge","z":"84eb8e18.9d088","name":"S3 Events in Past 1 Minute","group":"a6c22496.14c9b8","order":0,"width":0,"height":0,"gtype":"gage","title":"S3 Events in the past minute","label":"Events","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1862.404525756836,"y":701.000030040741,"wires":[]},{"id":"ce03feb8.2f797","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1787.6189193725586,"y":960.4762282371521,"wires":[]},{"id":"ae47aba3.27b138","type":"ui_text","z":"84eb8e18.9d088","group":"d033f31a.4b69f","order":0,"width":"6","height":"2","name":"S4 Text","label":"S4 Last Delta (in Seconds)","format":"{{msg.payload.delta_time}}","layout":"col-center","x":1797.6189193725586,"y":920.4762282371521,"wires":[]},{"id":"7655a6cc.215f68","type":"Message Counter","z":"84eb8e18.9d088","name":"Message counter","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":1589.5474243164062,"y":888.4762148857117,"wires":[["dc0b2df0.ef132"],["ae47aba3.27b138","ce03feb8.2f797"]]},{"id":"dc0b2df0.ef132","type":"ui_gauge","z":"84eb8e18.9d088","name":"S4 Events in Past 1 Minute","group":"d033f31a.4b69f","order":0,"width":0,"height":0,"gtype":"gage","title":"S4 Events in the past minute","label":"Events","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1858.1189193725586,"y":881.4762282371521,"wires":[]},{"id":"6cbcd075.bdb82","type":"mqtt out","z":"84eb8e18.9d088","name":"Generate some messages","topic":"traffic","qos":"0","retain":"false","broker":"5e671109.d4c","x":418.5,"y":1151,"wires":[]},{"id":"8a835e0d.5c99f","type":"inject","z":"84eb8e18.9d088","name":"S1 Timer","topic":"traffic","payload":"{\"Group\":\"G1\", \"Sensor\":\"S1\", \"delta_time\":\"4\"}","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":157.5,"y":1108.3332554499307,"wires":[[]]},{"id":"d3d40d55.98055","type":"inject","z":"84eb8e18.9d088","name":"S2 Timer","topic":"traffic","payload":"{\"Group\":\"G1\", \"Sensor\":\"S2\", \"delta_time\":\"4\"}","payloadType":"str","repeat":"11","crontab":"","once":false,"onceDelay":0.1,"x":158.3333282470703,"y":1161.666527748108,"wires":[[]]},{"id":"d209ec12.07255","type":"inject","z":"84eb8e18.9d088","name":"S3 Timer","topic":"traffic","payload":"{\"Group\":\"G1\", \"Sensor\":\"S3\", \"delta_time\":\"4\"}","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":156.66665649414062,"y":1218.3332147598267,"wires":[[]]},{"id":"59f9f8bc.b6bbe8","type":"inject","z":"84eb8e18.9d088","name":"S4 Timer","topic":"traffic","payload":"{\"Group\":\"G1\", \"Sensor\":\"S4\", \"delta_time\":\"4\"}","payloadType":"str","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":156.66665649414062,"y":1271.666527748108,"wires":[[]]},{"id":"59be33d5.2ce64c","type":"template","z":"84eb8e18.9d088","name":"Format Sensor Payload for DB Storage","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into `iot_data` (g_group, sensor, delta_time) VALUES ('{{{payload.Group}}}','{{{payload.Sensor}}}',{{{payload.delta_time}}})","output":"str","x":807.5001525878906,"y":286.6667070388794,"wires":[["f455d82.009f228"]]},{"id":"83db8ef6.f2f12","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1300.8333587646484,"y":261.6666831970215,"wires":[]},{"id":"15877c20.5d0bb4","type":"rpi-gpio out","z":"84eb8e18.9d088","name":"Green Light","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1505.8332633972168,"y":1126.6665678024292,"wires":[]},{"id":"b1409bbd.0bf598","type":"function","z":"84eb8e18.9d088","name":"Check level","func":"var str0 = msg.payload[0];\nvar th0 = str0.slice(1,-1).split(', ');\n\nvar str1 = msg.payload[1];\nvar th1 = str1.slice(1,-1).split(', ');\n\nvar msg1 = {payload:\"\"};\nvar msg2 = {payload:\"\"};\n\nif (th1[1] >= th0[1]){\n    msg1.payload = 1;\n    msg2.payload = 0;\n} else {\n    msg1.payload = 0;\n    msg2.payload = 1;\n}\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":1314.1666717529297,"y":1165.0000610351562,"wires":[["15877c20.5d0bb4"],["4bc86961.005928"]]},{"id":"4bc86961.005928","type":"rpi-gpio out","z":"84eb8e18.9d088","name":"Red Light","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1498.3330993652344,"y":1199.9999656677246,"wires":[]},{"id":"f342c94a.f15fd8","type":"inject","z":"84eb8e18.9d088","name":"Control Plane Injection","topic":"meta","payload":"{\"Group\":\"G1\", \"Sensor\":\"S1\",\"MQTT\":\"Reconnected\"}","payloadType":"str","repeat":"22","crontab":"","once":false,"onceDelay":0.1,"x":185.83333333333331,"y":1046.6666666666665,"wires":[[]]},{"id":"39fb12f6.9dfa1e","type":"Message Counter","z":"84eb8e18.9d088","name":"E/W Messages","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":902.5000457763672,"y":590.000020980835,"wires":[["29380add.da1e96"],["f10c1aad.00b878"]]},{"id":"f10c1aad.00b878","type":"switch","z":"84eb8e18.9d088","name":"Secondary Display Route 1","property":"payload.Sensor","propertyType":"msg","rules":[{"t":"cont","v":"S1","vt":"str"},{"t":"cont","v":"S2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1329.1668014526367,"y":475.0000252723694,"wires":[["816971d6.ddd8a"],["3ce83e08.6304e2"]]},{"id":"e3322e5d.8c36c","type":"switch","z":"84eb8e18.9d088","name":"Secondary Display Route 2","property":"payload.Sensor","propertyType":"msg","rules":[{"t":"cont","v":"S3","vt":"str"},{"t":"cont","v":"S4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1332.4998474121094,"y":813.3332839012146,"wires":[["b9e297b6.4d6978"],["7655a6cc.215f68"]]},{"id":"54197aac.2483a4","type":"Message Counter","z":"84eb8e18.9d088","name":"N/S Messages","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":901.6666412353516,"y":648.3332977294922,"wires":[["48f8628.d50b79c"],["e3322e5d.8c36c"]]},{"id":"dfa6d4c4.b10f08","type":"join","z":"84eb8e18.9d088","name":"Combine Counts","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1039.1664962768555,"y":905.0000133514404,"wires":[["b1409bbd.0bf598","7d10821f.bb125c"]]},{"id":"7d10821f.bb125c","type":"debug","z":"84eb8e18.9d088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1314.1666793823242,"y":1076.666706085205,"wires":[]},{"id":"29380add.da1e96","type":"function","z":"84eb8e18.9d088","name":"Insert ID","func":"msg.payload = \"E-W, \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":827.4999211629231,"y":873.3333098093667,"wires":[["dfa6d4c4.b10f08"]]},{"id":"48f8628.d50b79c","type":"function","z":"84eb8e18.9d088","name":"Insert ID","func":"msg.payload = \"N-S, \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":826.6665878295898,"y":938.3332691192627,"wires":[["dfa6d4c4.b10f08"]]},{"id":"5146e4ed.afc7ec","type":"template","z":"84eb8e18.9d088","name":"Format Control Message for DB Storage","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into `iot_meta` (g_group, sensor, message) VALUES ('{{{payload.Group}}}','{{{payload.Sensor}}}','{{{payload.MQTT}}}')","output":"str","x":806.6666564941406,"y":236.66664123535156,"wires":[["f455d82.009f228"]]},{"id":"f455d82.009f228","type":"mysql","z":"84eb8e18.9d088","mydb":"b9ec011b.cbf8d","name":"Home IOT DB","x":1137.5000381469727,"y":261.6666831970215,"wires":[["83db8ef6.f2f12"]]},{"id":"5e671109.d4c","type":"mqtt-broker","z":"","name":"Rpi-G4","broker":"192.168.1.88","port":"1883","clientid":"Dashboard-Host-1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd9443d1.3ebba","type":"ui_group","z":"","name":"Sensor 1 Data","tab":"5bf4a2f5.6ac33c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d737727.f65aa8","type":"ui_group","z":"","name":"Sensor 2 Data","tab":"5bf4a2f5.6ac33c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2bf81cd1.465004","type":"ui_group","z":"","name":"Meta Events","tab":"6f246d73.518104","order":2,"disp":true,"width":"6","collapse":false},{"id":"a6c22496.14c9b8","type":"ui_group","z":"","name":"Sensor 3 Data","tab":"5bf4a2f5.6ac33c","order":3,"disp":true,"width":"6","collapse":false},{"id":"d033f31a.4b69f","type":"ui_group","z":"","name":"Sensor 4 Data","tab":"5bf4a2f5.6ac33c","disp":true,"width":"6","collapse":false},{"id":"b9ec011b.cbf8d","type":"MySQLdatabase","z":"","host":"192.168.1.254","port":"3306","db":"iot_data","tz":""},{"id":"5bf4a2f5.6ac33c","type":"ui_tab","z":"","name":"Group 4","icon":"input","order":1},{"id":"6f246d73.518104","type":"ui_tab","z":"","name":"Control Info","icon":"settings","order":2}]